# Enable GZIP Compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/json
</IfModule>

# Cache control
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault                              "access plus 1 month"
  ExpiresByType text/html                     "access plus 1 day"
  ExpiresByType text/xml                      "access plus 1 day"
  ExpiresByType application/xml               "access plus 1 day"
  ExpiresByType text/cache-manifest           "access plus 0 seconds"
  ExpiresByType image/svg+xml                 "access plus 1 year"
  ExpiresByType text/css                      "access plus 1 month"
  ExpiresByType text/javascript               "access plus 1 month"
  ExpiresByType application/javascript        "access plus 1 month"
  ExpiresByType application/x-javascript      "access plus 1 month"
  ExpiresByType image/gif                     "access plus 1 year"
  ExpiresByType image/jpeg                    "access plus 1 year"
  ExpiresByType image/png                     "access plus 1 year"
  ExpiresByType image/webp                    "access plus 1 year"
  ExpiresByType font/ttf                      "access plus 1 year"
  ExpiresByType font/otf                      "access plus 1 year"
  ExpiresByType font/woff                     "access plus 1 year"
  ExpiresByType font/woff2                    "access plus 1 year"
  ExpiresByType application/x-font-ttf        "access plus 1 year"
  ExpiresByType application/x-font-opentype  "access plus 1 year"
</IfModule>

# Set correct MIME types
<IfModule mod_mime.c>
  AddType application/javascript js
  AddType application/json json
  AddType image/webp webp
  AddType font/ttf ttf
  AddType font/otf otf
  AddType font/woff woff
  AddType font/woff2 woff2
  AddEncoding gzip svgz
  AddType image/svg+xml svg svgz
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME}.svgz -s
    RewriteRule ^(.*)$ $1.svgz [QSA]
    RewriteHeader Content-Encoding: gzip
  </IfModule>
</IfModule>

# Security Headers
<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=edge"
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set X-XSS-Protection "1; mode=block"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
  Header set Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
</IfModule>

# Remove server info
ServerTokens Prod
ServerSignature Off
